/* defines colours used throughout the stylesheet*/
:root {
	--back-color: white;
	--fore-color: #076ae1;
}

body {
	height: 100%;
	background: linear-gradient(80deg, var(--fore-color) 25%, var(--back-color) 0%);
}

h1 {
	padding-top: 5vh;
}

h2 {
	padding-top: 8vh;
}

a {
	font-family: Tahoma, sans-serif;
	text-decoration: none;
}

/* unvisited link */
a:link, a:visited {
  color: #076ae1;
}

/* mouse over link */
a:hover, a:active {
  color: #0728e1;
}

.text {
	padding-left: 30vh;
	text-align: center;
	font-family: Tahoma, sans-serif;
	color: #076ae1;
}

.logo {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	padding-left: 2vw;
}



